<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Start Pricing Table Style 4 -->
    <section class="pp-section section-bg-img">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-header text-center">
              <h2 class="title global-title"><b>Pricing Table</b></h2>
            </div>
          </div>
        </div>
        <div class="row plan-tables-4">
          <!-- Pricing column -->
          <div class="col-lg-4 col-md-6">
            <div class="plan-style-4">
              <div class="plan-style-4-bg plan-shadow-4"></div>
              <!-- Pricing header -->
              <div class="plan-header">
                <h3 class="bg-blue">gold</h3>
                <p class="price bg-blue">
                  $<span class="price-digit">9</span>/m
                </p>
              </div>
              <!-- Pricing contant -->
              <div class="plan-detail">
                <ul>
                  <li>10gb Storage</li>
                  <li>20GB Super <b>Bandwidth</b></li>
                  <li>1 SQL Database for website</li>
                  <li>5 Email Account</li>
                  <li>1 Domain</li>
                  <li>24/7 Technical Support</li>
                </ul>
              </div>
              <!-- Plan Bottom -->
              <div class="plan-bottom">
                <a class="plan-button bg-blue-btn" href="#">Signup Now</a>
              </div>
            </div>
          </div>
          <!-- Pricing column -->
          <div class="col-lg-4 col-md-6">
            <div class="plan-style-4">
              <div class="plan-style-4-bg plan-shadow-4"></div>
              <div class="plan-header">
                <h3 class="bg-orange">standard</h3>
                <p class="price bg-orange">
                  $<span class="price-digit">29</span>/m
                </p>
              </div>
              <div class="plan-detail">
                <ul>
                  <li>45gb Storage</li>
                  <li>40GB Super <b>Bandwidth</b></li>
                  <li>2 SQL Database for website</li>
                  <li>10 Email Account</li>
                  <li>2 Domain</li>
                  <li>24/7 Technical Support</li>
                </ul>
              </div>
              <!-- Plan Bottom -->
              <div class="plan-bottom">
                <a class="plan-button bg-orange-btn" href="#">Signup Now</a>
              </div>
            </div>
          </div>
          <!-- Pricing column -->
          <div class="col-lg-4 col-md-6">
            <div class="plan-style-4">
              <div class="plan-style-4-bg plan-shadow-4"></div>
              <div class="plan-header">
                <h3 class="plan-title bg-green">premium</h3>
                <p class="price bg-green">
                  $<span class="price-digit">49</span>/m
                </p>
              </div>
              <div class="plan-detail">
                <ul>
                  <li>100gb Storage</li>
                  <li>60GB Super <b>Bandwidth</b></li>
                  <li>3 SQL Database for website</li>
                  <li>15 Email Account</li>
                  <li>3 Domain</li>
                  <li>24/7 Technical Support</li>
                </ul>
              </div>
              <!-- Plan Bottom -->
              <div class="plan-bottom">
                <a class="plan-button bg-green-btn" href="#">Signup Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Pricing Table Style 4 -->
  </body>
</html>
